<h1>DJI Drones</h1>

<button (click)="getMavic()">Mavic Pro 2 info</button>
<p *ngIf = "yesd"> The DJI Mavic series consists of 4 different drones. The Mavic Air a cheaper version of its brothers but has
   a great value for the price compared to the other Mavics in this series. The Mavic Pro is the oldest version of this series and
   is a great drone. The 2 new Mavic Pros are great drones for an expensive price. There is a zoom model and a regular model the
   zoom model has an optical zoom lens and the regular has a 1inch sensor. </p>

<form [formGroup]= "droneform" (ngSubmit)="addDrone()" class="form-horizontal">
  <input
    type="text"
    input id="dronename" formControlName="dronename"
  />
  <button type ="submit"> Add Drone</button>
  <button type ="button" (click) = "removeLastDrone()" ion-button>Delete Drone</button>
</form>
<ul>
  <li *ngFor="let drone of djiDrones">
    {{ drone }}
  </li>
</ul>
